<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Baseclass.Contrib.Nuget.Output" version="2.1.0" targetFramework="net461" />
  <package id="BinaryEncoding" version="1.2.8" targetFramework="net461" />
  <package id="blake2s-net" version="0.1.0" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.1" targetFramework="net461" />
  <package id="LibP2P.Crypto" version="1.0.2" targetFramework="net461" />
  <package id="libsodium-net" version="0.9.0" targetFramework="net461" />
  <package id="Multiformats.Base" version="1.0.33" targetFramework="net461" />
  <package id="Multiformats.Hash" version="1.0.12" targetFramework="net461" />
  <package id="NUnit" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Console" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net461" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net461" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.5.0" targetFramework="net461" />
  <package id="OpenCover" version="4.6.519" targetFramework="net461" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net461" />
  <package id="SimpleBase" version="1.2.0" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net461" />
  <package id="WallF.BaseNEncodings" version="1.0.0.0" targetFramework="net461" />
</packages>